<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <title>Alterar uma pessoa</title>
</head>

<body>
    <div class="centro">
        <h2 class="alterar-pessoa">Alterar uma pessoa: </h2>
        <form class="formulario" action="/pessoas/<%=pessoa._id%>?_method=PATCH" method="post">
            <label for="cpf">CPF</label><br>
            <input type="text" name="cpf" id="cpf" value="<%=pessoa.cpf%>" readonly> <br>
            <br>
            <label for="nome">Nome</label><br>
            <input type="text" name="nome" id="nome" value="<%=pessoa.nome%>"> <br>
            <br>
            <label for="dataNasc">Nascimento<br>
            <input type="text" name="dataNasc" id="dataNasc" value="<%=pessoa.dataNasc%>"> <br>
            <br>
            <label for="email">E-mail</label><br>
            <input type="text" name="email" id="email" value="<%=pessoa.email%>"> <br><br>

            <button class="botao-alterar">Alterar</button>
        </form> <br>
        <a href="/pessoas"><button class="botao-voltar">Voltar</button></a>
    </div>
</body>

</html>